.container {
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --background-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg: #2f303a;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --logo-color-black: #000000;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --border-color: #ececec;
  --icon-color: #afb1b8;
  --card-set-gap: 30px;
  --main-fonts: 'Roboto', sans-serif;
  --secondary-fonts: 'Raleway', sans-serif;
  --transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.body {
  font-family: var(--main-fonts);
  background-color: var(--background-color);
}

.logo {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo__dark-theme {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--logo-color-black);
}

.logo__light-theme {
  color: var(--secondary-text-color);
}

.logo__item {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.burger-menu {
  border: none;
  background-color: transparent;
  padding: 0;
}

.burger-icon {
  width: 40px;
  height: 40px;
  fill: #000;
  transition: fill var(--transition-property);
}

.burger-icon:hover, .burger-icon:focus {
  fill: var(--accent-color);
}

.main-navigation {
  display: flex;
}

.navigation {
  display: flex;
  margin-left: 90px;
}

.navigation .navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-property);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__list.current {
  color: var(--accent-color);
}

.navigation__link.current {
  transition: color var(--transition-property);
}

.navigation__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.contact {
  margin-left: auto;
}

.contact__icon-wrapper {
  margin-right: 10px;
}

.contact__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-property);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  transition: fill var(--transition-property);
  fill: var(--primary-text-color);
}

.contact__item:hover .contact__icon,
.contact__item:focus .contact__icon {
  fill: var(--accent-color);
}

.mobile-menu {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.burger-btn__close-icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  cursor: pointer;
  transition: fill var(--transition-property);
}

.burger-btn__close-icon:hover, .burger-btn__close-icon:focus {
  fill: var(--accent-color);
}

.burger-btn_close {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-navigation__link {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-property);
}

.mobile-navigation__link:hover, .mobile-navigation__link:focus {
  color: var(--accent-color);
}

.mobile-contact__link {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-property);
}

.mobile-contact__link:hover, .mobile-contact__link:focus {
  color: var(--accent-color);
}

.mobile-contact__link.tel {
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-color);
}

.mobile-current {
  color: var(--accent-color);
}

.mobile-social {
  display: flex;
  margin-top: 32px;
}

.mobile-social__link {
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .header__wrapper .contact {
    display: none;
  }
}

.hero {
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  padding-left: 60px;
  padding-right: 60px;
}

.main-title {
  width: 360px;
  box-sizing: border-box;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero/img.jpg);
  }
}

.modal-btn {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 1px solid var(--accent-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  text-shadow: var(--text-shadow);
  text-shadow: var(--text-shadow);
  transition: border var(--transition-property);
}

.modal-btn:hover, .modal-btn:focus {
  border: 1px solid var(--secondary-bcg-color);
}

.features__icon-wrapper {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: var(--secondary-bcg-color);
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.features__text {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work {
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.work__title {
  text-align: center;
}

.work__list {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work__item {
  position: relative;
  overflow: hidden;
}

.work__item + .work__item {
  margin-left: var(--card-set-gap);
}

.work-item__overlay {
  position: absolute;
  transform: translateY(-100%);
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .work {
    display: none;
  }
}

.social-list {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color var(--transition-property);
}

.social__icon:hover, .social__icon:focus {
  background-color: var(--accent-color);
}

.social-link .social__icon {
  transition: fill var(--transition-property);
  fill: var(--primary-text-color);
  transition: background-color var(--transition-property);
}

.social-link .social__icon:hover,
.social-link .social__icon:focus {
  fill: var(--secondary-text-color);
}

.social-link {
  display: flex;
  justify-content: center;
  margin: 30px 32px;
}

.team {
  margin: 0 auto;
  text-align: center;
  background-color: var(--secondary-bcg-color);
}

.team__card {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__text {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.18px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__item {
  margin-top: 30px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-content-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -15px;
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);
}

.client {
  text-align: center;
}

.client-container {
  margin-top: 30px;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client__item {
  margin-top: 30px;
  margin-left: 30px;
}

.client__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 90px;
  padding: auto;
  background-color: transparent;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border var(--transition-property);
}

.client__card:hover, .client__card:focus {
  border: 1px solid var(--accent-color);
}

.client__icon {
  fill: var(--icon-color);
  transition: fill var(--transition-property);
}

.client__card:hover .client__icon,
.client__card:focus .client__icon {
  fill: var(--accent-color);
}

.mailing {
  margin-top: 60px;
}

.mailing__form {
  margin-top: 20px;
}

.mailing__action {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.mailing__button {
  margin-top: 20px;
  padding: 10px 28px;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.mailing__input {
  width: 360px;
  padding-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--footer-bcg);
  color: var(--secondary-text-color);
}

.mailing__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background: var(--footer-bcg);
}

.footer .social-list {
  justify-content: center;
}

.footer__social-link {
  margin-top: 60px;
  flex-direction: column;
}

.footer__social-link_action {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.address__map {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all var(--transition-property);
}

.modal {
  width: 450px;
  height: 609px;
  margin: 0 auto;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15x;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  animation-name: skaleModal;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  transform-origin: center center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__input-wrapper {
  width: 100%;
}

.modal-form__field {
  margin-top: 10px;
}

.modal-form__input-wrapper {
  display: block;
  margin-top: 4px;
  position: relative;
}

.modal-form__term {
  margin-top: 20px;
}

.modal-form__term-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.modal-form__btn-sabmit {
  width: 200px;
  height: 50px;
  align-self: center;
  padding: 10px 55px;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  transition: border var(--transition-property);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-property);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: var(--title-text-color);
  transition: background-color var(--transition-property);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color 250ms var(--card-set-gap);
}

.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  text-transform: uppercase;
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__checkbox-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #757575;
}

.modal-form__checkbox-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  transition: border var(--transition-property);
}

.modal-form__term:checked + .modal-form__checkbox-desc::before {
  background-image: url(../image/imageSVG/vector.svg);
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes skaleModal {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.5);
  }
}
/*# sourceMappingURL=main.css.map */