.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --background-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg: #2f303a;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --logo-color-black: #000000;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --border-color: #ececec;
  --icon-color: #afb1b8;
  --card-set-gap: 30px;
  --main-fonts: 'Roboto', sans-serif;
  --secondary-fonts: 'Raleway', sans-serif;
  --transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.body {
  font-family: var(--main-fonts);
  background-color: var(--background-color);
}

.logo {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo__dark-theme {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--logo-color-black);
}

.logo__light-theme {
  color: var(--secondary-text-color);
}

.logo__item {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.burger-menu {
  border: none;
  background-color: transparent;
  padding: 0;
}

.burger-icon {
  width: 40px;
  height: 40px;
  fill: #000;
  transition: fill var(--transition-property);
}

.burger-icon:hover, .burger-icon:focus {
  fill: var(--accent-color);
}

.main-navigation {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  margin-left: 90px;
}

.navigation .navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-property);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__list.current {
  color: var(--accent-color);
}

.navigation__link.current {
  transition: color var(--transition-property);
}

.navigation__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.contact {
  margin-left: auto;
}

.contact__icon-wrapper {
  margin-right: 10px;
}

.contact__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-property);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  transition: fill var(--transition-property);
  fill: var(--primary-text-color);
}

.contact__item:hover .contact__icon,
.contact__item:focus .contact__icon {
  fill: var(--accent-color);
}

.mobile-menu {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-property);
}

@media screen and (min-width: 480px) {
  .mobile-menu {
    padding: 0 auto;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.burger-btn__close-icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  cursor: pointer;
  transition: fill var(--transition-property);
}

.burger-btn__close-icon:hover, .burger-btn__close-icon:focus {
  fill: var(--accent-color);
}

.burger-btn_close {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-navigation__link {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-property);
}

.mobile-navigation__link:hover, .mobile-navigation__link:focus {
  color: var(--accent-color);
}

.mobile-contact__link {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-property);
}

.mobile-contact__link:hover, .mobile-contact__link:focus {
  color: var(--accent-color);
}

.mobile-contact__link.tel {
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-color);
}

.mobile-current {
  color: var(--accent-color);
}

.mobile-social {
  display: flex;
  margin-top: 32px;
}

.mobile-social__link {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-social__item + .mobile-social__item {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 480px) {
  .mobile-social__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .header__wrapper .contact {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .contact__item {
    padding-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact .contact__item + .contact__item {
    margin-left: 50px;
  }
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.social-list {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color var(--transition-property);
}

.social__icon:hover, .social__icon:focus {
  background-color: var(--accent-color);
}

.social-link .social__icon {
  transition: fill var(--transition-property);
  fill: var(--primary-text-color);
  transition: background-color var(--transition-property);
}

.social-link .social__icon:hover,
.social-link .social__icon:focus {
  fill: var(--secondary-text-color);
}

.social-link {
  display: flex;
  justify-content: center;
  margin: 30px 32px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .filter {
    justify-content: flex-start;
  }
}

.filter__item {
  margin-left: 8px;
  margin-top: 15px;
}

.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bcg-color);
  color: var(--title-text-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color var(--transition-property), color var(--transition-property), box-shadow var(--transition-property);
}

.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  margin-left: auto;
  margin-right: auto;
}

.portfolio__item {
  margin-top: var(--card-set-gap);
  transition: box-shadow var(--transition-property);
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio__card {
  height: 100%;
  padding: 20px 24px;
  border: 1px solid var(--border-color);
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__img-wrapper {
  position: relative;
  overflow: auto;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 49px 24px;
  transform: translateY(100%);
  overflow: scroll;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  transition: transform var(--transition-property);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .portfolio__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .portfolio__card {
    height: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.mailing {
  width: 100%;
}

.mailing__action {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.mailing__button {
  display: flex;
  justify-content: center;
  padding: 10px 28px;
  margin-top: 20px;
  min-width: 200px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--transition-property), box-shadow 250ms var(--transition-property);
  cursor: pointer;
}

.miling-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mailing__input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  margin-top: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--footer-bcg);
  color: var(--secondary-text-color);
}

.mailing__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .mailing__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__form {
    text-align: left;
  }
  .mailing__input {
    width: 358px;
    margin-bottom: unset;
    margin-right: 12px;
  }
  .miling-form__container {
    flex-direction: row;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background: var(--footer-bcg);
}

.footer .social-list {
  justify-content: center;
}

.footer__address {
  padding-top: 8px;
}

.footer__social-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 206px;
  margin-bottom: 60px;
  flex-direction: column;
}

.footer__social-link_action {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.address__map {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    flex-direction: row;
  }
}
/*# sourceMappingURL=portfolio.css.map */