.footer {
  // width: 480px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;
  background: var(--footer-bcg);

  & .social-list {
    justify-content: center;
  }

  // & .container {
  //   display: flex;
  //   align-items: baseline;
  // }

  &__address {
    padding-top: 8px;
    //  width: 231px;
    // margin-right: 0;
  }

  &__social-link {
    flex-direction: column;
    // margin-top: 30px;
    // width: 206px;
    // margin-left: 70px;
  }

  &__social-link_action {
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    text-transform: uppercase;

    color: var(--secondary-text-color);
  }
}
.address__map {
  margin-top: 20px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
