.header {
  border-bottom: 1px solid var(--border-color);

  // &__wrapper {
  //   display: none;
  //   align-items: center;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}
.burger-menu {
  border: none;
  background-color: transparent;
  padding: 0;
}
.burger-icon {
  width: 40px;
  height: 40px;
  fill: #000;
  transition: fill var(--transition-property);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.main-navigation {
  display: flex;
}
.navigation {
  display: flex;
  margin-left: 90px;
}
.navigation__item {
  .navigation & + & {
    margin-left: 50px;
  }
}
.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition: color var(--transition-property);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__list.current {
  color: var(--accent-color);
}

.navigation__link.current {
  transition: color var(--transition-property);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;

    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
  }
}
.contact {
  margin-left: auto;
  // display: flex;

  &__icon-wrapper {
    margin-right: 10px;
  }
}

// .contact__item {
//   .contact & + & {
//     margin-left: 50px;
//   }
// }
.contact__link {
  display: flex;
  // padding-top: 32px;
  // padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition: color var(--transition-property);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contact__icon {
  transition: fill var(--transition-property);
  fill: var(--primary-text-color);

  .contact__item:hover &,
  .contact__item:focus & {
    fill: var(--accent-color);
  }
}

.mobile-menu {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--transition-property);
}
@media screen and(min-width:480px) {
  .mobile-menu {
    padding: 0 auto;
  }
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.burger-btn__close-icon {
  width: 18px;
  height: 18px;
  fill: #212121;

  cursor: pointer;
  transition: fill var(--transition-property);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.burger-btn_close {
  border: none;
  background-color: transparent;
  padding: 0;

  position: absolute;
  top: 10px;
  right: 15px;
}
.mobile-navigation__link {
  display: block;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  transition: color var(--transition-property);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-contact__link {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  transition: color var(--transition-property);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.tel {
    font-size: 34px;
    line-height: 1.17;
    color: var(--accent-color);
  }
}
.mobile-current {
  color: var(--accent-color);
}
.mobile-social {
  display: flex;
  margin-top: 32px;
  &__link {
    padding-right: 10px;
    // margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
@media screen and(max-width:480px) {
  .mobile-social__link {
    font-size: 14px;
  }
}
.mobile-social__item + .mobile-social__item {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .header__wrapper .contact {
    display: none;
  }
}
