.hero {
  width: 480px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;

  background-color: #2f303a;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/hero/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  & .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.main-title {
  width: 360px;
  box-sizing: border-box;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;

  text-transform: uppercase;

  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/hero/img.jpg);
  }
}
