.hero {
  max-width: 1600;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;

  background-color: #2f303a;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-title {
  box-sizing: border-box;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;

  color: var(--secondary-text-color);
}
