.portfolio {
  margin-left: auto;
  margin-right: auto;

  &__item {
    flex-basis: calc(100% / 3- var(--card-set-gap));

    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);

    transition: box-shadow var(--transition-property);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-text-color);
  }

  &__text {
    margin-top: 4px;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
  }

  &__card {
    padding: 20px 24px;

    border: 1px solid var(--border-color);
  }
}
.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;

  transform: translateY(100%);
  overflow: hidden;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  transition: transform var(--transition-property);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0%);
  }
}
