.logo {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &__dark-theme {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--logo-color-black);
  }
  &__light-theme {
    color: var(--secondary-text-color);
  }

  &__item {
    color: var(--accent-color);
  }
}
