.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 44px;
  border-radius: 50%;

  fill: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color var(--transition-property);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  .social-link & {
    transition: fill var(--transition-property);
    fill: var(--primary-text-color);
    transition: background-color var(--transition-property);
  }

  .social-link &:hover,
  .social-link &:focus {
    fill: var(--secondary-text-color);
  }
}
.social-link {
  display: flex;
  justify-content: center;
  margin: 30px 32px;
}
